{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * recentchanges plugin for Craft CMS
 *
 * RecentchangesWidget Widget Body
 *
 * @author    rmdev
 * @copyright Copyright (c) 2018-2022 rmdev
 * @link      https://github.com/rmdev
 * @package   Recentchanges
 * @since     1.0.0
 */
#}

<div class="recententries-container">
    {% if entries|length %}
        <table class="data fullwidth">
            {% for entry in entries %}
                {% set className = className(entry) %}
                <tr>
                    <td>
                        <span class="status {{ entry.status }} "></span>
                        <a href="{{ entry.getCpEditUrl() }}">{{ entry.title }}</a>
                        <span class="light">
                            {{ entry.dateUpdated|timestamp('short') }}
                            {% if entry.hasRevisions() and entry.getCurrentRevision() %}
                                    , {{ entry.getCurrentRevision().getCreator().username }}
                             {% else %}
                                    , {{ entry.author.username }}
                            {% endif %}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{{ "No entries exist yet."|t('app') }}</p>
    {% endif %}
</div>
